.navbar-brand {
    cursor: default;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width:10%;
}

.gradient {
    background-image: linear-gradient(to right, rgb(70, 70, 70), rgb(29, 29, 29));
}

.dropdown-menu-color {
    background-color:  rgb(39, 39, 39);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.evenimente-jumbotron-background {
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
     url("../resources/evenimente/evenimente-infocus-jumbo.jpg");
     background-repeat: no-repeat;
     background-position: 50% 50%;
     background-size: cover;
 }

.arta-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../resources/arta/arta-infocus.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.produse-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/produse/produse-infocus.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.macro-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../resources/macro/macro-infocus.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.urbex-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/urbex/urbex-infocus.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.sedinte-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/sedinte/sedinte-infocus-jumbo.jpg");
    background-repeat: no-repeat;
    background-position: 60% 60%;
    background-size: cover;
}

.logo-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/template/template.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.flyer-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/template/template.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.design-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/template/template.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.foto-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/template/template.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.video-jumbotron-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/template/template.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.mt-10 {
     margin-top: 10rem;
}

.list-group-item-action:hover{
    color: black;
    background-color: #d6dfe7;
}

.close {
    font-size: 1.5rem;
  }
  
.col-12 img {
cursor: pointer;
width: 100%;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}

.col-12 img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container img {
    max-width: 100%;
}

#gallery-modal .modal-img {
    width: 100%;
}

.carousel-button {
    padding: 1.5rem;
}

.gri-anti-jeg{
    background-color:rgb(240, 238, 238);
}

.card {
    margin-bottom: 3rem;
}

.gradient-middle-service-card {
    background-color: rgb(29, 29, 29);
}

.gradient-right-service-card {
    background-image: linear-gradient(to left, rgb(70, 70, 70), rgb(29, 29, 29));
}

.photo-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url("../resources/main/fotografie-infocus.jpg");
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
}

.design-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url("../resources/main/design-infocus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.edit-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url("../resources/main/editare-infocus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0.1rem solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 0.3s;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.photo-card-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 0.1rem solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 0.3s;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.card-button:hover, .photo-card-button:hover {
    background-color: white;
    color: black;
}

.ocupatie-main-page {
    color: rgb(73, 72, 72)
}

.breadcrumb-portofoliu a{
    color: rgb(73, 72, 72);
}

.breadcrumb-portofoliu a:hover{
    transition: 0.3s;
    color: rgb(175, 11, 11);
}

.breadcrumb-portofoliu-active a{
    color: rgb(175, 11, 11);
}

.card-header {
    padding: 2rem;
}

.evenimente-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
    url("../resources/evenimente/evenimente-infocus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.arta-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../resources/arta/arta-infocus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.produse-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
    url("../resources/produse/produse-infocus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.macro-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../resources/macro/macro-infocus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.urbex-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../resources/urbex/urbex-infocus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sedinta-card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../resources/sedinte/sedinte-infocus.jpg");
    background-position: 25% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-page-carousel-button {
    background-color: #d99400;
}



  @media only screen and (max-width: 1500px) {
    .responsive-nav-brand {
        width: 80%;
    }
  }

  @media only screen and (max-width: 770px) {
    .gradient {
        background-size: 0;
        background-color: rgb(70, 70, 70);
        justify-content: center;
        padding-bottom: 5%;
    }

    .responsive-nav-brand {
        padding-left: 20%;
        padding-bottom: 5%;
    }
  }